<div class="video-image-block full-width">
    <div class="video-wrapper">
        <a href="#" class="drive-video-trigger" data-video="{{ include.video }}">
            <img src="{{ site.baseurl }}{{ include.video_image }}" alt="Video preview">
            <span class="overlay"></span>
            <span class="play-icon"></span>
        </a>
    </div>
    <div class="image-wrapper drive-video-preview">
        <a href="#" class="drive-video-trigger" data-video="{{ include.vertical_video }}">
            <img src="{{ site.baseurl }}{{ include.image }}" alt="Video preview">
            <span class="overlay"></span>
            <span class="play-icon"></span>
        </a>
    </div>
</div>