<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-light">My POV</h2>
                <hr class="light">
                <div class="about-text">
                    <p class="text-faded">
                        I work on a variety of video content, but there are areas where I'm most comfortable:
                    </p>
                    <ul class="about-list">
                        <li>
                            <span class="about-key">Video Games:</span> visual dynamics, timing, responsiveness
                        </li>
                        <li>
                            <span class="about-key">Social:</span> fast-paced formats, contemporary language, immediacy
                        </li>
                        <li>
                            <span class="about-key">Film:</span> language, rhythm, scene construction
                        </li>
                        <li>
                            <span class="about-key">Food:</span> aesthetics, texture, visual appeal
                        </li>
                    </ul>
                    <p class="text-faded">
                        These are worlds I know from the inside, and they influence the way I edit. At the same time, I'm interested in exploring new areas and adapting my approach to different languages, always looking for the best way to make each project work.
                    </p>
                    <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
