<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-light">Il mio punto di vista</h2>
                <hr class="light">
                <p class="text-faded">
                Lavoro su diversi tipi di video, ma ci sono territori in cui mi muovo meglio:<br><br>
                Cinema: linguaggio, ritmo, costruzione della scena<br>
                Videogiochi: dinamiche visive, timing, reattività<br>
                Food: estetica, texture, appetibilità visiva<br>
                Contenuti social: formati veloci, linguaggio contemporaneo, immediatezza<br>
                <br>Sono mondi che conosco da dentro, e che influenzano il mio modo di montare.<br>Allo stesso tempo mi interessa esplorare nuovi ambiti e adattare il mio approccio a linguaggi diversi, cercando sempre il modo migliore per far funzionare ogni progetto.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
