<section id="contact" class="bg-primary" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-light">Rimaniamo in contatto</h2>
                <hr class="light">
                <p>Pronto a collaborare con me? Ottimo!</p>
                <p>Contattami o inviami un'e-mail e ti risponderò il più presto possibile</p>
                <p>{{ site.email }}</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}" class="contact-icon wow bounceIn" data-wow-delay="0s">
                <div class="icon-wrapper">
                <img src="{{ site.baseurl }}/img/contact/mail.png" alt="Email">
                </div>
                <!--<p>{{ site.email }}</p>-->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.ig_username }}" class="contact-icon wow bounceIn" data-wow-delay="0.2s" target="_blank">
                <div class="icon-wrapper">
                <img src="{{ site.baseurl }}/img/contact/instagram.png" alt="Instagram">
                </div>
                <!--<p>{{ site.ig_username }}</p>-->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="contact-icon wow bounceIn" data-wow-delay="0.4s" target="_blank">
                <div class="icon-wrapper">
                <img src="{{ site.baseurl }}/img/contact/linkedin.png" alt="LinkedIn">
                </div>
                <!--<p>{{ site.linkedin_username }}</p>-->
            </a>
        </div>
    </div>
</section>