<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gli strumenti del mestiere</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/services/davinci.png" alt="DaVinci Resolve" class="icon-img wow bounceIn" data-wow-delay="0s">
                    <h3>DaVinci Resolve</h3>
                    <p class="text-muted">Montaggio video, color grading e VFX</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/services/ae.png" alt="Adobe After Effects" class="icon-img wow bounceIn" data-wow-delay="0.2s">
                    <h3>Adobe After Effects</h3>
                    <p class="text-muted">Motion Graphics e VFX</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/services/pr.png" alt="Adobe Premiere Pro" class="icon-img wow bounceIn" data-wow-delay="0.4s">
                    <h3>Adobe Premiere Pro</h3>
                    <p class="text-muted">Montaggio video</p>
                </div>
            </div>
        </div>
    </div>
</section>
