<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  <!--{% include aside.html %}-->
  {% include story.html %}
  {% include contact.html %}
  {% include modals.html %}

  {% include scripts.html %}

  <!-- Magnific Popup for Portoflio Projects-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

  <script>
    $(function() {
      $('.video').magnificPopup({
        type: 'iframe'
      });
    });
  </script>

  <!-- parallax immagine dell'header che si sposta mentre scrollo -->
  <!-- <script>
    window.addEventListener('scroll', function() {
        const header = document.querySelector('header');
        let offset = window.pageYOffset;
        header.style.backgroundPositionY = offset * 0.5 + "px";
    });
  </script> -->

  <!-- Icone che fanno la stessa animazione che c'era con le fe icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

</body>

</html>